/*HOMEPAGE*/
.homepage {
  background-color: #191919;
  height: 100%;
}

nav.topNav {
  padding-top: 1rem;
  text-align: center;
  height: 2rem;
}

#homeNav img {
  height: 2rem;
}

.intro-copy {
  margin-top: 4rem;
  text-align: center;
}

a.topnavLink {
  margin-right: 3rem;
  margin-left: 3rem;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 12px;
  color: white;
  letter-spacing: 1.8px;
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
}

a.topnavLink:hover {
  color: #99ffff;
}


@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }

.fade-in {
    opacity:0;  /* make things invisible upon start */
    animation:fadeIn ease-in 1; /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */

    animation-fill-mode:forwards;  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/

    animation-duration:1s;
    animation-delay: .25s
}

#link1:hover, #link2:hover, #link3:hover, #link4:hover  {
  background-position: right -200px bottom -1px;
}

.footer {
  bottom: 0;
  position: fixed;
  width: 100%;
  margin-bottom: 1rem;
}

.underline {
  height: 1rem;
  width: 5rem;
  display: none;
}

.linkwrap {
  display: inline;
}

section.rollingIntro {
  letter-spacing: .5px;
  text-align: center;
}

h1, h2, h4, p {
  font-weight: 100;
  font-family: 'Roboto', sans-serif;
}

.navigation {
  margin-top: 5rem;
  float: right;
}

.header {
  text-transform: uppercase;
  font-size: 1rem;
  color: white;
  letter-spacing: 4px;
}

#hello {
  font-weight: 500;
}

.logo {
  height: 9rem;
  margin-left: auto;
  margin-right: auto;
  display: block;
  /*filter: invert();*/
}



.logo-wrap {
  margin-top: 10%;
}

/*About*/
.about {
  padding-top: 1rem;
  text-align: center;
}

.back {
  float: left;
  text-decoration: none;
  color: black;
}

.aboutHeader {
  padding-top: 6rem;
  font-size: 1.5rem;
  letter-spacing: 1.5px;
  margin-bottom: 2rem;
}

#aboutArticle {
  margin-left: 6rem;
  margin-right: 6rem;
  font-size: 1.4rem;
}

.paragraph {
  font-size: 1.2rem;
}

/*Careers*/



.careersSection {
  margin-top: 3rem;
  margin-bottom: 6rem;
}

.careers-header {
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 1.2px;
  font-size: 2rem;
  text-align: center;
  margin-bottom: 2rem;
}

.careers-role {
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 1.2px;
  font-size: 1.5rem;
}

.careers-subheader {
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 1.2px;
  font-size: 1.2rem;
}

.emailcopy {
  margin-bottom: 0;
  display: inline;
}

.careers-contact {
  letter-spacing: 1.4px;
  color: black;
  display: inline;
}
/*Projects*/

.projects {
  margin-top: 4rem;
  margin-bottom: 2rem;
  text-align: center;
}

.projectHeader {
  font-size: 1.5rem;
  font-weight: 400;
  color: #fff;
  letter-spacing: 3.1px;
  text-shadow: 2px 2px 2px #EE770C;
  margin-top: 2rem;
}

.projectTitle {
  font-size: 1.1rem;
  letter-spacing: 1.5px;
  margin-top: 1rem;
  margin-bottom: 0;
}

.projectLink {
  color: #1C307E;
  letter-spacing: 1.1px;
  font-weight: 400;
}

.projectLink:hover {
  color: #1C307E;
}



.weLike {
  text-align: center;
}

p.vibes {
  font-size: 1.5rem;
  color: #ADFCFF;
  font-weight: 300;
  text-shadow: 2px 2px 3px #00BDB8, 0px 0px 3px #000;
}

a.vibesLink {
  text-decoration: none;
  margin-bottom: .3rem;

}

ul {
  margin-left: 0;
}


.downloadFooter {
  text-align: center;
}

button.downloadCv {
  background-color: transparent;
  border: 1px solid white;
  font-size: 1rem;
  font-weight: 100;
  padding: 0.75rem;
  font-family: 'Roboto';
}

button:focus {
    outline:none;
}

footer {
    height: 150px;
    width: 100%;
}


/*Contact*/

.contactInfo-container {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  margin-top: 5rem;
  padding: 2rem;
  width: 30rem;
  border: 8px solid #001756;
  box-shadow: 0px 30px 40px rgba(0,0,0,.1);
}

.contact {
  font-weight: 100;
  font-size: 2rem;
  line-height: 3.5rem;
  text-decoration: none;
  color: black;
}

.contact:hover {
  color: #b7ffee;
  text-shadow: 1px 1px 1px #018264;
}

.call {
  display: inline;
}

.contact-header {
  font-weight: 300;
}

.email {
  display: inline;
}

@media only screen and (max-width: 800px)  {

  a.topnavLink {
    margin-right: 1rem;
    margin-left: 1rem;
  }

  .logo {
    height: 10rem;
    margin-top: 3rem;
  }

  #hello {
    font-size: 2rem;
    margin-top: 2rem;
  }

  #rolling {
    font-size: 1.9rem;
  }

  .contactHeader {
    display: none;
  }

  section.contactInfo-container {
    margin-bottom: 1rem;
    position: fixed;
    bottom: 0;
    margin-left: .2rem;
    text-align: center;
  }

  h4.contactHeader {
    display: none;
  }

  a.emailLink {
    font-size: 1.5rem;
  }

  a.aboutLink {
    padding-right: 2rem;
    font-size: 1.15rem;
  }

  #aboutArticle {
    margin-left: 1rem;
    margin-right: 1rem;
  }

  .paragraph {
    font-size: 1rem;
  }

  .aboutHeader {
    padding-top: 1rem;
    font-size: 1.2rem;
    margin-bottom: 1.5rem;
  }

  .back {
    display: none;
  }

  /*Projects*/



  p.vibes {
    font-size: 1rem;
  }

  button.downloadCv {
    font-size: .8rem;
  }

  /*Contact*/

  .contactInfo-container {
    top: 5rem;
    margin-top: 0rem;
    padding: 0rem;
    width: 100%;
    border: none;
    box-shadow: none;
}


.contact {
  font-weight: 100;
  font-size: 1.3rem;
  line-height: 3.5rem;
  text-decoration: none;
  color: black;
  }
} 
