.strip {
  margin-left: 3rem;
  height: 100%;
  width: 4.3rem;
  background-color: #AAFFEF;
  z-index: -100;
  position: absolute; 
  border-right: 4px solid #A5D0FF;
  border-left: 8px solid #FFE5E5;
}

#strip2 {
  margin-left: 10rem;
  width: 3.5rem;
  background-color: #FFE5E5;
  border-right: 4px solid #A5D0FF;
}

body {
  background-image: linear-gradient(90deg, rgb(98, 255, 186) 24%, rgb(133, 255, 201) 100%);
  background-image: -moz-linear-gradient(left, rgb(98, 255, 186) 24%, rgb(133, 255, 201) 100%);
  background-image: -webkit-linear-gradient(left, rgb(98, 255, 186) 24%, rgb(133, 255, 201) 100%);
  background-image: -o-linear-gradient(left, rgb(98, 255, 186) 24%, rgb(133, 255, 201) 100%);
  background-image: -ms-linear-gradient(left, rgb(98, 255, 186) 24%, rgb(133, 255, 201) 100%);
}

nav.topNav {
  padding-top: 1rem;
}

a.aboutLink {
  float: right;
  padding-right: 1rem;
  text-decoration: none;
  color: black;
  font-family: 'Roboto', sans-serif;
}

section.rollingIntro {
  letter-spacing: .5px;
  text-align: center;
}

h1, h2, h4, p {
  font-weight: 100;
  font-family: 'Roboto', sans-serif;
}

.header {
  font-family: 'Roboto', sans-serif;
}

.contactHeader {
  margin-bottom: 0;
  margin-top: .6rem;
}

.emailLink {
  /*font-size: 1.1rem;*/
  /*font-weight: 800;*/
  color: black;
  font-family: 'Roboto', sans-serif;
  margin-top: 0;
}

#hello {
  margin-top: 4rem;
}

.logo {
  margin-top: 4rem;
  height: 24rem;
  border-radius: 150px;
  -webkit-transition:-webkit-transform .8s ease-in-out;
  -ms-transition:-ms-transform .8s ease-in-out;
  transition:transform .8s ease-in-out
}

img.logo:hover {
  transform: rotate(360deg);
  -ms-transform: rotate(360deg);
  -webkit-transform: rotate(360deg);
}

section.contactInfo-container {
  position: fixed;
  bottom: 0;
  margin-bottom: 3rem;
  margin-left: 2rem;
}

h4.contactHeader {
  font-size: 1.7rem;
}

a.emailLink {
  font-size: 1.5rem;
}

/*About*/
.about {
  padding-top: 1rem;
  text-align: center;
}

.back {
  float: left;
  text-decoration: none;
  color: black;
}

.aboutHeader {
  padding-top: 8rem;
  font-size: 1.5rem;
  letter-spacing: 1.5px;
  margin-bottom: 2rem;
}

#aboutArticle {
  margin-left: 6rem;
  margin-right: 6rem;
  font-size: 1.4rem;
}

.paragraph {
  font-size: 1.2rem;
}


@media only screen and (max-width: 800px)  {

  .logo {
    height: 10rem;
    margin-top: 3rem;
  }

  #hello {
    font-size: 2rem;
    margin-top: 2rem;
  }

  #rolling {
    font-size: 1.9rem;
  }

  .contactHeader {
    display: none;
  }

  section.contactInfo-container {
    margin-bottom: 1rem;
    margin-left: .2rem;
    text-align: center;
  }

  h4.contactHeader {
    display: none;
  }

  a.emailLink {
    font-size: 1.5rem;
  }

  a.aboutLink {
    padding-right: 2rem;
    font-size: 1.15rem;
  }

  #aboutArticle {
    margin-left: 1rem;
    margin-right: 1rem;
  }

  .paragraph {
    font-size: 1rem;
  }

  .aboutHeader {
    padding-top: 1.5rem;
    font-size: 1.2rem;
    margin-bottom: 1.5rem;
  }

  .back {
    display: none;
  }

} 
