.strip {
  margin-left: 3rem;
  height: 100%;
  width: 4.3rem;
  background-color: #AAFFEF;
  z-index: -100;
  position: absolute; 
  border-right: 4px solid #A5D0FF;
  border-left: 8px solid #FFE5E5;
}

#strip2 {
  margin-left: 10rem;
  width: 3.5rem;
  background-color: #FFE5E5;
  border-right: 4px solid #A5D0FF;
}

body {
  background-image: linear-gradient(90deg, rgb(98, 255, 186) 24%, rgb(133, 255, 201) 100%);
  background-image: -moz-linear-gradient(left, rgb(98, 255, 186) 24%, rgb(133, 255, 201) 100%);
  background-image: -webkit-linear-gradient(left, rgb(98, 255, 186) 24%, rgb(133, 255, 201) 100%);
  background-image: -o-linear-gradient(left, rgb(98, 255, 186) 24%, rgb(133, 255, 201) 100%);
  background-image: -ms-linear-gradient(left, rgb(98, 255, 186) 24%, rgb(133, 255, 201) 100%);
}

section.rollingIntro {
  letter-spacing: .5px;
  text-align: center;
}

h1, h4, p {
  /*font-family: 'Roboto', sans-serif !important;*/
  font-weight: 100;
}

.contactHeader {
  margin-bottom: 0;
  margin-top: .6rem;
}

.emailLink {
  /*font-size: 1.1rem;*/
  /*font-weight: 800;*/
  color: black;
  font-family: 'Roboto', sans-serif;
  margin-top: 0;
}

#hello {
  margin-top: 4rem;
}

.logo {
  margin-top: 4rem;
  height: 24rem;
  border-radius: 150px;
  -webkit-transition:-webkit-transform .8s ease-in-out;
  -ms-transition:-ms-transform .8s ease-in-out;
  transition:transform .8s ease-in-out
}

img.logo:hover {
  transform: rotate(360deg);
  -ms-transform: rotate(360deg);
  -webkit-transform: rotate(360deg);
}

section.contactInfo-container {
  position: fixed;
  bottom: 0;
  margin-bottom: 3rem;
  margin-left: 2rem;
}

h4#contact {
  font-size: 18px;
}

a#email {
  font-size: 16px;
}

@media only screen and (max-width: 800px)  {

  .logo {
    height: 12rem;
  }

  #hello {
    font-size: 1.8rem;
  }

  #rolling {
    font-size: 1.5rem;
  }

  .contactHeader {
    display: none;
  }

  .emailLink {
    font-size: .8rem;
  }

  section.contactInfo-container {
    margin-bottom: .2rem;
    margin-left: .2rem;
  }
}

