<section class="row about">
	<a href="/" class="back"> BACK </a>
	<header>
		<h1 class="aboutHeader">No Mayo Digital is a London based software development agency.</h1>
	</header>
	<article class="row" id="aboutArticle">
		<p class="paragraph"> Founded in 2015 by Izzy Markwick and Clare Trembath,<br>
		No Mayo Digital has built a variety of web applications and websites for a range of clients in different industries.</p>
		<p class="paragraph">We do full stack development and have experience working with multiple languages and technologies, as well as offering design, logos and UX strategy. </p>
		<p class="paragraph"> To see some of our work or make an enquiry, please contact us
		<br>
		<a href="mailto:hello@no-mayo.co.uk" class="aboutemailLink">hello@no-mayo.co.uk</a>
	</article>
</section>