<section class="row careersSection">
  <h6 class="careers-header"> We Are Hiring</h6>
  <div class="small-12 columns">
    <h9 class="careers-role"> Junior Full Stack Development</h9>
    <p class="careers-subheader">No Mayo, London, UK</p>

  </div>
  <div class="small-12 columns careersContent">
    <p class="careers-subheader">Come and join us</p>
    <p class="careers-copy"> 
      No Mayo is a creative digital agency, founded by two female software developers.<br>
      We specialise in custom built web applications for a range of clients in different industries. Previous clients include Mumsnet, Nike, and a variety of young and innovative startups who we have helped to launch. We also have fun building our own products in-house, and try to do so on a weekly basis.<br>
      Our business is going from strength to strength and we have a lot of exciting new business coming through the door.<br>
      The new addition to our team will be immersed in both client work and personal in- house projects.<br>
    </p>
    <p class="careers-subheader"> What you'll be doing</p>
    <p class="careers-copy">
      We are looking for an enthusiastic junior dev to join our team who wants to build awesome platforms.<br>
      We want someone who<br>
      - is enthusiastic about what they do<br>
      - is keen to get involved with the complete process of building and delivering products <br>
      - enjoys coding, testing, fixing, pairing and communicating with clients<br>
      - can be flexible and adaptable in a changing environment<br>
      - contributes to problem solving, idea generation and cares about the end product<br>
      - is excited about working in an ambitious, early-stage company<br>
      - loves working in a team environment and collaborating    
    </p>

    <p class="careers-subheader"> Requirements</p>
    <p class="careers-copy">
      - Ruby on Rails - Ruby<br>
      - PostgreSQL<br>
      - Javascript<br>
      - JQuery<br>
      - NodeJS<br>
      - HTML5<br>
      - CSS3<br>
      - Frontend Frameworks (E.g. Bootstrap & Foundation) <br>
      - Testing Frameworks
      - BDD & TDD<br>
      - Git <br>
    </p>

    <p class="careers-subheader"> Salary</p>
    <p class="careers-copy">
      £30,000 – 35,000 (dependent on experience)
    </p>
    <p class="careers-subheader"> Additional Benefits</p>
    <p class="careers-copy">
      - Flexible working hours<br>
      - No fixed holiday days<br>
      - Super chilled team<br>
      - Based in Shoreditch within short walking distance of great public transport, and plenty of bars and restaurants.
    </p>

    <p class="careers-subheader"> To Apply</p>
    <p class="careers-copy emailcopy">
     📨 Email CV/Portfolio to: </p>
    <a class= "careers-contact" href="mailto:hi@no-mayo.co.uk" alt="Contact No Mayo" target="_top">hi@no-mayo.co.uk</a>


  </div>
</section>