<section class="row rollingIntro" id="words">
  <div class="logo-container small-12 columnd">
    <img alt="No Mayo Digital Agency London Logo" class="logo" src="https://s3.amazonaws.com/no-mayo/No-MayoDigital%2Bcopy.png">
  </div>
  <h1 class="small-12 columns header" id="hello" alt="Izzy Markwick and Clare Trembath run a digital agency in London called No Mayo ">hi we're No Mayo Digital </h1>
  <br>
  <h2 class="small-12 columns header" id="rolling">we are <span class="rotateText"  data-period="2000" data-rotate='[ "developers", "designers"]'></span></h2>
</section>
