<div class="strip" id="strip"></div>
<div class="strip" id="strip2"></div>

<section class="row rollingIntro" id="words">
  <h1 class="seoHidden">Clare Trembath</h1>
  <h1 class="seoHidden">Izzy Markwick</h1>
  <h1 class="seoHidden">Digital Agency</h1>
  <h1 class="seoHidden">Female Developers</h1>
  <h1 class="seoHidden">Full Stack Developers</h1>
  <h1 class="seoHidden">Rails Developers London</h1>
  <h1 class="seoHidden">Squarespace Developers</h1>
  <h1 class="seoHidden">London Designers</h1>

  <div class="logo-container small-12 columnd">
    <img class="logo" src="assets/logo.png">
  </div>
  <h1 class="small-12 columns" id="hello">hi we're No Mayo </h1>
  <br>
  <h1 class="small-12 columns" id="rolling">we are <span class="rotateText"  data-period="2000" data-rotate='[ "developers.", "designers."]'></span></h1>
</section>

<section class="row contactInfo-container">
  <article class="small-12 columns">
    <h4 class="contactHeader">contact No Mayo</h4>
    <a class= "emailLink" href="mailto:us@czzt.co.uk" target="_top">hello@no-mayo.digital</a>
  </article>
</section>