<div class="strip" id="strip"></div>
<div class="strip" id="strip2"></div>

<section class="row rollingIntro" id="words">
  <div class="logo-container small-12 columnd">
    <img alt="No Mayo Digital Agency London Logo" class="logo" src="assets/No-MayoDigital.png">
  </div>
  <h1 class="small-12 columns" id="hello" alt="Izzy Markwick and Clare Trembath run a digital agency in London called No Mayo">hi we're No Mayo </h1>
  <br>
  <h1 class="small-12 columns" id="rolling">we are <span class="rotateText"  data-period="2000" data-rotate='[ "developers.", "designers."]'></span></h1>
</section>

<section class="row contactInfo-container">
  <article class="small-12 columns">
    <h4 class="contactHeader">contact No Mayo</h4>
    <a class= "emailLink" href="mailto:hi@no-mayo.co.uk" alt="Contact No Mayo" target="_top">hi@no-mayo.co.uk</a>

  </article>
</section>