<section class="row rollingIntro" id="words">
  <div class="small-12 columns logo-wrap">
    <img alt="No Mayo Digital Agency London Logo" class="logo" src="https://s3-eu-west-1.amazonaws.com/nomayo/NO+MAYO+logo+SVG.svg">
  </div>


  <div class="row intro-copy">
    <h2 class="small-12 columns header" id="hello" alt="Izzy Markwick and Clare Trembath run a digital agency in London called No Mayo ">We make things for your screen </h2>
    <br>
    <h2 class="small-12 columns header" id="rolling"> <span class="rotateText"  data-period="2000" data-rotate='[ "web applications, websites && ecommerce platforms"]'></span></h2>
  </div>

  <nav class="navigation">
    <div class="linkwrap" id="link1">
      <a href="/work" class="topnavLink" id="workunderline">Work
      </a>
    </div>
    <div class="linkwrap" id="link2">
      <a href="/play" class="topnavLink" id="projectsNav">Play</a>
    </div>
    <div class="linkwrap" id="link3">
      <a href="/about" class="topnavLink" id="projectsNav">About</a>
    </div>
    <div class="linkwrap" id="link4">
      <a href="/contact" class="topnavLink" id="contactNav">Contact</a>
    </div>
  </nav>
</section>
