<div class="strip" id="strip"></div>
<div class="strip" id="strip2"></div>

<section class="row rollingIntro" id="words">
    <h1 class="small-12 columns" id="hello">Hi we're No Mayo </h1>
    <br>
    <h1 class="small-12 columns" id="rolling">we are <span class="rotateText"  data-period="2000" data-rotate='[ "developers.", "designers."]'></span></h1>

</section>
<section class="row contactInfo-container">
  <article class="small-12 columns">
    <h4 class="contactHeader" id="contact">Contact No Mayo</h4>
    <a class= "emailLink" href="mailto:hello@no-mayo.digital?Subject=Hey" target="_top" id="email">hello@no-mayo.digital</a>
  </article>
</section>