<section class="projects">
		<h3 class='projectHeader'> PRE-LAUNCH </h3>
		<h4 class="projectTitle"> PAYS TO BE SOCIAL </h4> 
		<h4 class="projectTitle"> MUMSNET LOCAL</h4>

		<h3 class="projectHeader"> LIVE SITES </h3>
		<h4 class="projectTitle"> ZILLA </h4>
		<a href='https://www.iamzilla.com/' target='_blank' class='projectLink'>iamzilla.com</a>
		<h4 class="projectTitle"> VIBES DIGITAL </h4>
		<a href='http://www.vibes.digital/' target='_blank' class='projectLink'>vibes.digital</a>
		<h4 class="projectTitle">CITY PLAYER PERFORMANCE</h4>
		<a href='http://cityfootball-performance.com/' target='_blank' class='projectLink'>cityfootball-performance.com</a>
		<h4 class="projectTitle">FAT LAMA</h4>
		<a href="http://www.fatlama.com/" target='_blank' class='projectLink'>fatlama.com</a>
		<h4 class="projectTitle">EURO SPORTS CAMPS</h4>
		<a href='http://www.eurosportscamps.com/' target='_blank' class='projectLink'>eurosportscamps.com</a>
		<h4 class="projectTitle">LOCALBOXX</h4>
		<a href='http://www.localboxx.co.uk/' target='_blank' class='projectLink'>localboxx.co.uk</a>
		<h4 class="projectTitle">FUTURE HOPE</h4>
		<p class='projectLink'> demo on request </p>
		<h4 class="projectTitle">YAYA SHAKES </h4>
		<a href='http://www.yayashakes.com/' target='_blank' class='projectLink'>yayashakes.com</a>
		<h4 class="projectTitle">MOLE & DOVE </h4>
		<a href='http://www.moleanddove.com/' target='_blank' class='projectLink'>moleanddove.com</a>
		<h4 class="projectTitle">JEVA FILMS</h4>
		<a href='http://www.jevafilms.com/' target='_blank' class='projectLink'>jevafilms.com</a>
		<h4 class="projectTitle">DAMSEL PRODUCTIONS</h4>
		<a href='http://www.damselproductions.co.uk/' target='_blank' class='projectLink'>damselproductions.co.uk</a>
</section>

<footer class="downloadFooter">
	<a href="https://s3.amazonaws.com/no-mayo/No+Mayo+CV.pdf" download >
		<button class="downloadCv"> Download Portfolio</button>
	</a>
</footer>