<section class="projects">
	<ul class="projectList">
		<li class="individualProject">
			
		</li>

		<li class="individualProject">
		</li>

		<li class="individualProject">
		</li>

		<li class="individualProject">
		</li>

	</ul>
</section>
<section class="downloadFooter">
	<a href="https://s3.amazonaws.com/no-mayo/no-mayo+CV+(2).pdf" download class="downloadCv"><button> Download Our Resume </button></a>
</section>