<section class="projects">

	<header class="projectList">
		<h1 class="projectHeader"> Check out some of our latest projects..</h1>
	</header>
	<ul class="small-12 columns">
		<li class="small-12 medium-6 columns individualProject">
			<a href="http://www.eurosportscamps.com/" target="_blank"><img class="imageRack hvr-float" src="https://s3.amazonaws.com/no-mayo/euro_sports_camps.png"></a>
		</li>

		<li class="small-12 medium-6 columns individualProject">
			<a href="http://www.localboxx.co.uk/" target="_blank"><img class="imageRack hvr-float" id="localboxx" src="https://s3.amazonaws.com/no-mayo/loalboxx.png"></a>
		</li>

		<li class="small-12  medium-6 columns individualProject">
			<a href="http://www.yayashakes.com" target="_blank"><img class="imageRack hvr-float" src="https://s3.amazonaws.com/no-mayo/yaya_shakes.png"></a>
		</li>

		<li class="small-12 medium-6 columns individualProject">
			<a href="https://www.iamzilla.com/" target="_blank"><img class="imageRack hvr-float" src="https://s3.amazonaws.com/no-mayo/zilla.png "></a>
		</li>
	</ul>
</section>

<footer class="downloadFooter">
	<section class="weLike">
		<p class="vibes">Visit <a class="vibesLink hvr-float" href="http://www.vibes.digital/">vibes.digital</a> for our homemade weekly playlist</p>
	</section>
	<a href="https://s3.amazonaws.com/no-mayo/no-mayo+CV+(2).pdf" download ><button class="hvr-grow downloadCv"> Download C.V</button></a>
</footer>